body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eefafc;
}
header {
    text-align: center;
    padding: 20px;
    background-color: #5a6196;
    color: #5d4037;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #747fa9;
    padding: 10px;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
main {
    padding: 20px;
}
.product {
    background-color: #1c9cff;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
}
button {
    background-color: #25056e;
    color: rgb(140, 109, 220);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #1c058b;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #6eb8e9;
    color: rgb(182, 146, 232);
    position: fixed;
    bottom: 0;
    width: 100%;
}
