body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7f0f2;
}
header {
    text-align: center;
    padding: 20px;
    background-color: #cbccd4;
    color: #5d4037;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #d2d7ec;
    padding: 10px;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: rgb(19, 168, 187);
    text-decoration: none;
}
main {
    padding: 20px;
}
.product {
    background-color: #ffe0b2;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
}
button {
    background-color: #25056e;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #1c058b;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #6eb8e9;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
