body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eefafc;
}
header {
    text-align: center;
    padding: 20px;
    background-color: #ea72e2;
    color: #60ddff;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #f9c9fc;
    padding: 10px;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
main {
    padding: 20px;
}
.product {
    background-color: #c3d2dd;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
}
button {
    background-color: #b9a6e4;
    color: rgb(159, 142, 204);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #dea3e8;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #be98d2;
    color: rgb(55, 51, 56);
    position: fixed;
    bottom: 0;
    width: 100%;
}
